<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/sakura-modified.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<!-- <link rel="preload" href="/css/font-awesome.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
	<!-- <noscript><link rel="stylesheet" href="/css/font-awesome.css"></noscript> -->
	<!-- <link rel="preload" href="/css/sakura-modified.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
	<!-- <noscript><link rel="stylesheet" href="/css/font-awesome.css"></noscript> -->
</head>