<!DOCTYPE html>
	<html>

    {% include head.html %}

		<body>
	    	<nav>
	    		<ul style="display: inline;">
	        		<li style="display: inline; float: left;"><a href="{{ site.baseurl }}/">{{ site.title_displ }}>_</a></li>
	        		<span style="float: right;">
	        			<li style="display: inline;"><a class="page-link" href="/">Blog</a></li>
	        			<li style="display: inline;"><a class="page-link" href="/projects/">Projects</a></li>
	        			<li style="display: inline;"><a class="page-link" href="/about/">About</a></li>
	        		</span>
	    		</ul>
			</nav>

			{{ content }}
			
			</div><!-- /.container -->

    	{% include footer.html %}

		</body>
	</html>